*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Sriracha', cursive;
}

.container{
    max-width: 80%;
    /* background-color: rgb(167, 142, 192); */
    padding: 34px;
    margin: auto;

}
.container h2,p{
    font-size: 35px;
    text-align: center;
    font-family: 'Sriracha', cursive;
}
input,textarea{
    font-size: 16px;
    width: 80%;
    margin: 11px 0px;
    padding: 7px;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    color: white;
    background:purple;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}
.wt{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}


